f-11-2.1.9RC1/src/resources/pagemap10.dtd

<?xml version="1.0" encoding="Windows-31J"?>
<!--
<!DOCTYPE f11:page_map PUBLIC "-//F-11 2.0//DTD F11 Page Configuration//EN" 
	"http://f-11.sourceforge.jp/dtds/pagemap10.dtd">
-->

<!--アトリビュート ================================================ -->
<!ENTITY % ATTR_IMAGESYMBOL "
	value CDATA #IMPLIED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	visible (true|false) #IMPLIED
	blink (true|false) #IMPLIED
	tooltiptext CDATA #IMPLIED
">
<!ENTITY % ATTR_TEXTSYMBOL "
	value CDATA #IMPLIED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	visible (true|false) #IMPLIED
	blink (true|false) #IMPLIED
	tooltiptext CDATA #IMPLIED
	font (Serif|SansSerif|Monospaced|Dialog|DialogInput) #IMPLIED
	font_style (plain|bold|italic) #IMPLIED
	font_size CDATA #IMPLIED
	h_aligin (left|center|right) #IMPLIED
	opaque (true|false) #IMPLIED
	foreground CDATA #IMPLIED
	background CDATA #IMPLIED
">
<!ENTITY % ATTR_BUTTONSYMBOL "
	value CDATA #REQUIRED
	x CDATA #IMPLIED
	y CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	visible (true|false) #IMPLIED
	blink (true|false) #IMPLIED
	tooltiptext CDATA #IMPLIED
	font (Serif|SansSerif|Monospaced|Dialog|DialogInput) #IMPLIED
	font_style (plain|bold|italic) #IMPLIED
	font_size CDATA #IMPLIED
	opaque (true|false) #IMPLIED
	foreground CDATA #IMPLIED
	background CDATA #IMPLIED
">
<!ENTITY % ATTR_REQUIREDFONT "
	font (Serif|SansSerif|Monospaced|Dialog|DialogInput) #REQUIRED
	font_style (plain|bold|italic) #REQUIRED
	font_size CDATA #REQUIRED
">

<!-- property ================================================ -->
<!-- if,series共用 -->
<!ELEMENT f11:name EMPTY>
<!ATTLIST f11:name
			value CDATA #REQUIRED
>
<!ELEMENT f11:element EMPTY>
<!ATTLIST f11:element
			value CDATA #REQUIRED
>
<!ELEMENT f11:property (f11:element*|f11:name*)>
<!ATTLIST f11:property
			value CDATA #IMPLIED
			x CDATA #IMPLIED
			y CDATA #IMPLIED
			visible (true|false) #IMPLIED
			blink (true|false) #IMPLIED
			foreground CDATA #IMPLIED
			background CDATA #IMPLIED
			opaque (true|false) #IMPLIED
			name CDATA #IMPLIED
>
<!-- if ================================================ -->
<!ELEMENT f11:if ((f11:if|f11:property),(f11:if|f11:property)?)>
<!ATTLIST f11:if
			value CDATA #REQUIRED
>
<!-- 単純シンボル ================================================ -->
<!ELEMENT f11:imagesymbol (f11:if?)>
<!ATTLIST f11:imagesymbol
			%ATTR_IMAGESYMBOL;
>
<!ELEMENT f11:imageanimesymbol (f11:if?)>
<!ATTLIST f11:imageanimesymbol
			%ATTR_IMAGESYMBOL;
			move (true|false) #IMPLIED
>
<!ELEMENT f11:textsymbol (f11:if?)>
<!ATTLIST f11:textsymbol
			%ATTR_TEXTSYMBOL;
>
<!ELEMENT f11:textanalogsymbol (f11:if?)>
<!ATTLIST f11:textanalogsymbol
			%ATTR_TEXTSYMBOL;
			format CDATA #IMPLIED
>
<!ELEMENT f11:stringdatasymbol (f11:if?)>
<!ATTLIST f11:stringdatasymbol
			%ATTR_TEXTSYMBOL;
>
<!-- 編集シンボル ================================================ -->
<!ELEMENT f11:fixeddigital EMPTY>
<!ATTLIST f11:fixeddigital
			provider CDATA #REQUIRED
			holder CDATA #REQUIRED
			value CDATA #REQUIRED
>
<!ELEMENT f11:fixedanalog EMPTY>
<!ATTLIST f11:fixedanalog
			provider CDATA #REQUIRED
			holder CDATA #REQUIRED
			value CDATA #REQUIRED
>
<!ELEMENT f11:variableanalog EMPTY>
<!ATTLIST f11:variableanalog
			provider CDATA #REQUIRED
			holder CDATA #REQUIRED
>
<!ELEMENT f11:variableanalog4 EMPTY>
<!ATTLIST f11:variableanalog4
			provider CDATA #REQUIRED
			holder CDATA #REQUIRED
>
<!ELEMENT f11:destination ((
				f11:fixeddigital|
				f11:fixedanalog|
				f11:variableanalog|
				f11:variableanalog4|
				f11:schedule
)+)>
<!ATTLIST f11:destination
			buttontext CDATA #IMPLIED
>
<!ELEMENT f11:imagesymboleditable ((f11:destination*,f11:if?)|(f11:if?,f11:destination*))>
<!ATTLIST f11:imagesymboleditable
			%ATTR_IMAGESYMBOL;
			dlgname CDATA #REQUIRED
			dlgtitle CDATA #IMPLIED
>
<!ELEMENT f11:textanalogsymboleditable ((f11:destination*,f11:if?)|(f11:if?,f11:destination*))>
<!ATTLIST f11:textanalogsymboleditable
			%ATTR_TEXTSYMBOL;
			format CDATA #IMPLIED
			dlgname CDATA #REQUIRED
			dlgtitle CDATA #IMPLIED
>
<!ELEMENT f11:textpowerfactorsymboleditable ((f11:destination*,f11:if?)|(f11:if?,f11:destination*))>
<!ATTLIST f11:textpowerfactorsymboleditable
			%ATTR_TEXTSYMBOL;
			format CDATA #IMPLIED
			dlgname CDATA #REQUIRED
			dlgtitle CDATA #IMPLIED
>
<!ELEMENT f11:textschedulesymboleditable ((f11:destination*,f11:if?)|(f11:if?,f11:destination*))>
<!ATTLIST f11:textschedulesymboleditable
			%ATTR_TEXTSYMBOL;
			format CDATA #IMPLIED
			dlgname CDATA #REQUIRED
			dlgtitle CDATA #IMPLIED
>
<!ELEMENT f11:textanalog4symboleditable ((f11:destination*,f11:if?)|(f11:if?,f11:destination*))>
<!ATTLIST f11:textanalog4symboleditable
			%ATTR_TEXTSYMBOL;
			format CDATA #IMPLIED
			dlgname CDATA #REQUIRED
			dlgtitle CDATA #IMPLIED
			index CDATA #REQUIRED
>
<!ELEMENT f11:textpowerfactor4symboleditable ((f11:destination*,f11:if?)|(f11:if?,f11:destination*))>
<!ATTLIST f11:textpowerfactor4symboleditable
			%ATTR_TEXTSYMBOL;
			format CDATA #IMPLIED
			dlgname CDATA #REQUIRED
			dlgtitle CDATA #IMPLIED
			index CDATA #REQUIRED
>
<!ELEMENT f11:pointcommentsymbol ((f11:destination*,f11:if?)|(f11:if?,f11:destination*))>
<!ATTLIST f11:pointcommentsymbol
			%ATTR_IMAGESYMBOL;
			dlgname CDATA #REQUIRED
			dlgtitle CDATA #IMPLIED
>
<!ELEMENT f11:imagesymbolfixededitable ((f11:destination*,f11:if?)|(f11:if?,f11:destination*))>
<!ATTLIST f11:imagesymbolfixededitable
			%ATTR_IMAGESYMBOL;
>
<!-- 線描画シンボル ================================================ -->
<!ELEMENT f11:lineto EMPTY>
<!ATTLIST f11:lineto
			x CDATA #REQUIRED
			y CDATA #REQUIRED
>
<!ELEMENT f11:drawline (f11:lineto+)>
<!ATTLIST f11:drawline
			start_x CDATA #REQUIRED
			start_y CDATA #REQUIRED
			foreground CDATA #IMPLIED
			line_width CDATA #IMPLIED
>
<!ELEMENT f11:drawverticalfork (f11:lineto+)>
<!ATTLIST f11:drawverticalfork
			center_x CDATA #REQUIRED
			center_y CDATA #REQUIRED
>
<!ELEMENT f11:drawhorizontalfork (f11:lineto+)>
<!ATTLIST f11:drawhorizontalfork
			center_x CDATA #REQUIRED
			center_y CDATA #REQUIRED
>
<!ELEMENT f11:drawsymbol ((f11:drawline|f11:drawverticalfork|f11:drawhorizontalfork)*,f11:if?)>
<!ATTLIST f11:drawsymbol
			line_width CDATA #REQUIRED
			line_cap (ROUND|BUTT|SQUARE) #REQUIRED
			foreground CDATA #REQUIRED
			blink (true|false) #IMPLIED
>
<!ELEMENT f11:linegraphsymbol (f11:drawline*)>
<!ATTLIST f11:linegraphsymbol
			x_min_scale CDATA #REQUIRED
			x_max_scale CDATA #REQUIRED
			y_min_scale CDATA #REQUIRED
			y_max_scale CDATA #REQUIRED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
			visible (true|false) #IMPLIED
			blink (true|false) #IMPLIED
			tooltiptext CDATA #IMPLIED
>
<!-- ボタンシンボル ================================================ -->
<!ELEMENT f11:pagechangebutton EMPTY>
<!ATTLIST f11:pagechangebutton
			%ATTR_BUTTONSYMBOL;
			changeto CDATA #REQUIRED
			argv CDATA #IMPLIED
>
<!ELEMENT f11:execparam EMPTY>
<!ATTLIST f11:execparam
			value CDATA #REQUIRED
>
<!ELEMENT f11:programexecutebutton (f11:execparam*)>
<!ATTLIST f11:programexecutebutton
			%ATTR_BUTTONSYMBOL;
			command CDATA #REQUIRED
>
<!ELEMENT f11:openurlbutton EMPTY>
<!ATTLIST f11:openurlbutton
			%ATTR_BUTTONSYMBOL;
			url CDATA #REQUIRED
>
<!ELEMENT f11:trendjumpbutton EMPTY>
<!ATTLIST f11:trendjumpbutton
			value CDATA #REQUIRED
			x CDATA #IMPLIED
			y CDATA #IMPLIED
			visible (true|false) #IMPLIED
			blink (true|false) #IMPLIED
			tooltiptext CDATA #IMPLIED
			changeto CDATA #REQUIRED
			argv CDATA #REQUIRED
			immediate (true|false) #IMPLIED
			message CDATA #IMPLIED
			title CDATA #IMPLIED
>
<!-- テーブル ================================================ -->
<!ELEMENT f11:title EMPTY>
<!ATTLIST f11:title
			%ATTR_REQUIREDFONT;
			value CDATA #REQUIRED
			width CDATA #REQUIRED
>
<!ELEMENT f11:columngroup ((f11:title|f11:columngroup)+)>
<!ATTLIST f11:columngroup
			%ATTR_REQUIREDFONT;
			value CDATA #REQUIRED
>
<!ELEMENT f11:column ((f11:title|f11:columngroup)+)>
<!ELEMENT f11:row ((
				f11:imagesymbol|
				f11:imageanimesymbol|
				f11:textsymbol|
				f11:textanalogsymbol|
				f11:stringdatasymbol|
				
				f11:imagesymboleditable|
				f11:imagesymbolfixededitable|
				f11:textanalogsymboleditable|
				f11:textpowerfactorsymboleditable|
				f11:pointcommentsymbol|
				
				f11:textschedulesymboleditable|
				
				f11:textanalog4symboleditable|
				f11:textpowerfactor4symboleditable|
				
				f11:trendjumpbutton
)*)>
<!ELEMENT f11:data (f11:row*)>
<!ELEMENT f11:table (f11:column,f11:data)>
<!ATTLIST f11:table
			foreground CDATA #REQUIRED
			background CDATA #REQUIRED
			header_foreground CDATA #REQUIRED
			header_background CDATA #REQUIRED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
			rowheight CDATA #IMPLIED
>
<!-- 高機能シンボル ================================================ -->
<!ELEMENT f11:group EMPTY>
<!ATTLIST f11:group
			provider CDATA #REQUIRED
			holder CDATA #REQUIRED
			value CDATA #IMPLIED
>
<!-- destination,page共用 -->
<!ELEMENT f11:schedule (f11:group*)>
<!ATTLIST f11:schedule
			provider CDATA #IMPLIED
			holder CDATA #IMPLIED
>
<!ATTLIST f11:schedule
			viewclass (	GraphicScheduleFactory|
						BarScheduleFactory|
						BarSchedule2Factory|
						TableScheduleFactory
						) #IMPLIED
			foreground CDATA #IMPLIED
			background CDATA #IMPLIED
			x CDATA #IMPLIED
			y CDATA #IMPLIED
			width CDATA #IMPLIED
			height CDATA #IMPLIED
			isSort (true|false) #IMPLIED
			isNonTandT (true|false) #IMPLIED
			isLenient (true|false) #IMPLIED
>
<!ELEMENT f11:calendar EMPTY>
<!ATTLIST f11:calendar
			provider CDATA #REQUIRED
			holder CDATA #REQUIRED
			foreground CDATA #REQUIRED
			background CDATA #REQUIRED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
>
<!-- trendgraph,bargraph,demandgraph,graphview共用 -->
<!ELEMENT f11:handler (f11:name*)>
<!ELEMENT f11:graphmodel (f11:handler|f11:property*)>
<!ATTLIST f11:graphmodel
			class (	org.F11.scada.applet.graph.DefaultSelectiveGraphModel|
					org.F11.scada.applet.graph.demand.DemandGraphModel
					) #REQUIRED
>
<!ELEMENT f11:insets EMPTY>
<!ATTLIST f11:insets
			top CDATA #REQUIRED
			left CDATA #REQUIRED
			botom CDATA #REQUIRED
			right CDATA #REQUIRED
>
<!ELEMENT f11:graphview (f11:graphmodel?,f11:graphproperty?,f11:verticallyscale?)>
<!ATTLIST f11:graphview
			top CDATA #IMPLIED
			left CDATA #IMPLIED
			botom CDATA #IMPLIED
			right CDATA #IMPLIED
>
<!ATTLIST f11:graphview
			foreground CDATA #IMPLIED
			background CDATA #IMPLIED
			x CDATA #IMPLIED
			y CDATA #IMPLIED
			width CDATA #IMPLIED
			height CDATA #IMPLIED
			strokeWidth CDATA #IMPLIED
			stringColor CDATA #IMPLIED
			isViewVerticalScale (true|false) #IMPLIED
			isMouseClickEnable (true|false) #IMPLIED
			isDrawString (true|false) #IMPLIED
			isScrollBarVisible (true|false) #IMPLIED
>
<!ELEMENT f11:color (f11:name*)>
<!ELEMENT f11:explanatory EMPTY>
<!ATTLIST f11:explanatory
			font (Serif|SansSerif|Monospaced|Dialog|DialogInput) #IMPLIED
			font_style (plain|bold|italic) #IMPLIED
			font_size CDATA #IMPLIED
			foreground CDATA #IMPLIED
>
<!ELEMENT f11:vertically EMPTY>
<!ATTLIST f11:vertically
			backGroundColor CDATA #REQUIRED
			foregroundColor1 CDATA #REQUIRED
			foregroundColor2 CDATA #REQUIRED
>
<!ELEMENT f11:holder (f11:name*)>
<!ATTLIST f11:holder
			name CDATA #REQUIRED
>
<!ELEMENT f11:series (f11:property,f11:property,f11:property,f11:property,f11:holder,f11:property?,f11:property?)>
<!ATTLIST f11:series
			name CDATA #REQUIRED
			size CDATA #REQUIRED
>
<!ELEMENT f11:graphproperty (f11:insets,f11:graphview,f11:color,f11:handler,f11:explanatory?,f11:vertically?,f11:series+)>
<!ATTLIST f11:graphproperty
			verticalScaleCount CDATA #REQUIRED
			verticalScaleHeight CDATA #REQUIRED
			horizontalScaleCount CDATA #REQUIRED
			horizontalScaleWidth CDATA #REQUIRED
			horizontalPixcelWidth CDATA #REQUIRED
			scaleOneHeightPixel CDATA #IMPLIED
			foldcount CDATA #IMPLIED
>
<!ELEMENT f11:trendgraph (f11:graphmodel,f11:graphproperty)>
<!ATTLIST f11:trendgraph
			foreground CDATA #REQUIRED
			background CDATA #REQUIRED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
			horizontalScaleFile CDATA #IMPLIED
			strokeWidth CDATA #IMPLIED
>
<!ELEMENT f11:trendgraph2 (f11:graphmodel,f11:graphproperty)>
<!ATTLIST f11:trendgraph2
			foreground CDATA #REQUIRED
			background CDATA #REQUIRED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
			horizontalScaleFile CDATA #IMPLIED
			strokeWidth CDATA #IMPLIED
>
<!ELEMENT f11:bargraph (f11:graphmodel,f11:graphproperty)>
<!ATTLIST f11:bargraph
			foreground CDATA #REQUIRED
			background CDATA #REQUIRED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
			barstep (hour|day|month) #REQUIRED
			axismode CDATA #IMPLIED
			isYear (true|false) #IMPLIED
>
<!ELEMENT f11:demandgraph (f11:graphmodel,f11:graphproperty)>
<!ATTLIST f11:demandgraph
			foreground CDATA #IMPLIED
			background CDATA #IMPLIED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
			expectYCount (1|2) #IMPLIED
			scaleStringColor CDATA #IMPLIED
			alarmTimeMode (true|false) #IMPLIED
>
<!ELEMENT f11:verticallyscale EMPTY>
<!ATTLIST f11:verticallyscale
			foreground CDATA #IMPLIED
			background CDATA #IMPLIED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
			series CDATA #REQUIRED
			isScaleButtonVisible (true|false) #REQUIRED
			align (right|left) #REQUIRED
			isTrend (true|false) #REQUIRED
>
<!ELEMENT f11:operationlogging EMPTY>
<!ATTLIST f11:operationlogging
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			width CDATA #REQUIRED
			height CDATA #REQUIRED
>

<!-- ページ ================================================ -->
<!ELEMENT f11:page ((
				f11:imagesymbol|
				f11:imageanimesymbol|
				f11:textsymbol|
				f11:textanalogsymbol|
				f11:stringdatasymbol|
				
				f11:imagesymboleditable|
				f11:imagesymbolfixededitable|
				f11:textanalogsymboleditable|
				f11:textpowerfactorsymboleditable|
				f11:pointcommentsymbol|
				
				f11:textschedulesymboleditable|
				
				f11:textanalog4symboleditable|
				f11:textpowerfactor4symboleditable|
				
				f11:table|
				f11:schedule|
				f11:calendar|
				f11:trendgraph|
				f11:trendgraph2|
				f11:bargraph|
				f11:demandgraph|
				f11:drawsymbol|
				f11:pagechangebutton|
				f11:linegraphsymbol|
				f11:programexecutebutton|
				f11:openurlbutton|
				f11:operationlogging|
				f11:graphview|
				f11:trendjumpbutton
)*)>
<!ATTLIST f11:page
			name CDATA #REQUIRED
			value CDATA #IMPLIED
			width CDATA #IMPLIED
			height CDATA #IMPLIED
			cache (true|false) #IMPLIED
>

<!-- ステータスバー ================================================ -->
<!ELEMENT f11:statusbar ((
				f11:imagesymbol|
				f11:imageanimesymbol|
				f11:textsymbol|
				f11:textanalogsymbol|
				f11:stringdatasymbol|
				
				f11:imagesymboleditable|
				f11:imagesymbolfixededitable|
				f11:textanalogsymboleditable|
				f11:textpowerfactorsymboleditable|
				f11:pointcommentsymbol|
				
				f11:textschedulesymboleditable|
				
				f11:textanalog4symboleditable|
				f11:textpowerfactor4symboleditable|
				
				f11:programexecutebutton
)*)>

<!ELEMENT f11:page_map (f11:page*|f11:statusbar?)>
<!ATTLIST f11:page_map
				xmlns:f11 CDATA #REQUIRED
>

